* {
    padding: 0;
    margin: 0;
}

#gameWindow {
    display: block;
}

#canvas {
    background: #fff;
    float:left;
}

.colon
{
    display: inline-block;
    float:left;
    width: 400px;
    margin-top: 25px;
}

.block
{
    display: block;
    float:left;
    width: 435px;
}

#step_info {
    display: block;
    margin: 10px 0 10px 0;
    text-align: center;
}

.set_name_container {
    text-align: center;
    margin-top: 200px;
}

.editText {
    margin: 8px 0;
}

.button
{
    margin: 10px 100px;
}

#results {
    display: block;
    width: 300px;
    margin: 25px auto;
    text-align: center;
}

#resultTable {
    margin: 25px auto;
}

td {
    padding: 5px 15px;
    box-sizing: border-box;
}

.invisible {
    display: none;
}