* {
    padding: 0;
    margin: 0;
}

#canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

#step_info {
    display: block;
    margin: 25px 0 25px 0;
    text-align: center;
}

#chess_info_container
{
    display: block;
    margin: 25px 0 25px 0;
    text-align: center;
    color: red;
}